#ControlBar {
  width: 80%;
  height: 8px;
  margin: 5px auto;
  background: #aaa;
  cursor: pointer;
}

#ProgressBar {
  height: 8px;
  transform: ScaleX(0);
  transform-origin: left;
  background: #666;
}