#repeat {
  width: 80%;
  margin: 0 auto;
}

#repeatBar {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 5px auto;
  background: #666;
}

#repeatController {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #aaa;
  cursor: pointer;
}

#repeatController :is(.start, .end) {
  width: 10px;
  height: 8px;
  background: #888;
  cursor: pointer;
}

#repeatController :is(.start, .end):is(:hover, .hover) {
  transform: scale(1.5);
}

#timeViewer {
  display: flex;
  justify-content: space-between;
}
